
<form #myForm="ngForm" (submit)="radioClick(myForm.value)">
  <div>
    <input type="radio" value="true"  name="r"  ngModel >Yes
    <input type="radio" value="false"  name="r"  ngModel> No
  </div>
  <button type="submit" class="btn btn-danger btn-lg btn-block">Find out gender</button>

</form>


<h3 *ngIf="isValid">Now! It's Okay</h3>


<!-- <h4>No It's Not Okay!</h4> -->

<hr/>

<form #myForm="ngForm" (submit)="templateForm(myForm.value)" novalidate>

  <div class="custom-control custom-radio">
     <input id="male" type="radio" class="custom-control-input" value="male" name="gender" ngModel>
     <label class="custom-control-label" for="male">Male</label>
  </div>

  <div class="custom-control custom-radio">
     <input id="female" type="radio" class="custom-control-input" value="female" name="gender" ngModel>
     <label class="custom-control-label" for="female">Female</label>
  </div>

  <button type="submit" class="btn btn-danger btn-lg btn-block">Find out gender</button>
</form><!-- Form ends -->

<hr/>
<br/>
<router-outlet></router-outlet>